#pci {
    width: 100px;
    height: 20px;
    position: absolute;
    background: yellow;
    opacity: 0.7;
    top: 49%;
    left: 43%;
    margin: 0;
}

#strikezone {
    width: 220px;
    height: 352px;
    position: absolute;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    background: transparent;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#ballShadow {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-color: white;
    border-width: 5px;
    border-style: dotted;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@keyframes ballApproach {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: rotate(360deg);
        transform: scale(1);
    }
}

#ball {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: black;
}